.basic-btn {
  display: inline-grid;
  background-color: @basic_green;
  color: white;
  width: 280px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 244px;
    height: 54px;
  }
}

.basic-btn--order {
  @media (min-width: @tablet-width) {
    width: 248px;
    height: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    height: 40px;
  }
}

.basic-btn--add {
  @media (min-width: @tablet-width) {
    width: 632px;
    height: 38px;
    margin-left: 38px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    height: 40px;
    margin-left: auto;
  }
}

.basic-btn--promo {
  margin-left: 14px;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    position: absolute;
    top: 260px;
    left: 0;
    z-index: 2;
  }
}

.basic-btn:hover {
  background-color: @basic_green-2;
}

.basic-btn:focus {
  background-color: @basic_green-2;
  opacity: 0.3;
}

.basic-btn--show {
  background-color: @basic_grey;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    width: 249px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    height: 40px;
  }
}

.basic-btn--show:hover {
  background-color: @special_grey-2;
}

.basic-btn--show:focus {
  opacity: 0.3;
  background-color: @special_grey-2;
}
