.basic-btn {
  background-color: @basic_green;
  color: white;
  width: 280px;
  height: 40px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
}

.basic-btn--show {
  background-color: @basic_grey;
  color: @special_dark-grey;
}

.basic-btn--link {
  appearance: button;
  text-decoration: none;
}
