.container {
  width: @mobile-container;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: @tablet-container;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-container;
  }
}

.container-map {
  width: @mobile-width-only;
  margin: 0 auto;
  padding: 0;
  line-height: 1px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.container--form {
  width: 280px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-container;
  }
}
