.footer--background {
  background-color: @basic_grey;
}

.footer__invitation {
  padding-top: 28px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-around;
}

.footer__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_black;
}

.footer__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey;
}

.footer__last-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @basic_grey;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright__text {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: @special_dark-grey;
}
