.header {
  display: flex;
  flex-direction: column;
  width: @mobile-width-only;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: @tablet-container;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-container;
    padding-top: 53px;
  }
}
