.map {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1px;

  @media (min-width: @tablet-width) {
    height: 396px;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
  }
}
