.page-main {
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
  }
}

.page {
  width: 100%;
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__logo {
  padding-bottom: 16px;
  padding-left: 20px;
}

.page__logo:hover {
  opacity: 0.8;
}

.page__logo:focus {
  opacity: 0.6;
}

.page__header {
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;
  font-weight: 400;
  margin-top: 0;
}

.page__body {
  margin: 0;
}

.page__logo--footer {
  min-width: @mobile-container;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @border_grey-footer;
  align-self: center;

  @media (min-width: @tablet-width) {
    min-width: 101px;
    border-bottom: none;
    padding-bottom: 0;
  }
}
