.section-header {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: black;
}

.section-header--promo {
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  color: white;
  text-align: center;
}
