.section-header {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @basic_black;

  &--promo {
    font-size: 36px;
    line-height: 36px;
    color: @basic_white;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 25px;
  }

  &--how {
    margin: 0;
    margin-bottom: 40px;
    margin-top: 27px;
  }

  &--example {
    margin-top: 0;
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;

    &--promo {
      width: 414px;
      text-align: left;
      color: @basic_black;
      padding-bottom: 42px;
      padding-top: 55px;
      padding-left: 87px;
      margin-bottom: 0;
    }

    &--example {
      padding-bottom: 30px;
    }

    &--how {
      margin-bottom: 65px;
    }
  }

  @media (min-width: @desktop-width) {
    &--promo {
      padding-left: 70px;
      padding-top: 95px;
    }

    &--example {
      padding: 0;
      padding-bottom: 76px;
    }

    &--how {
      margin-bottom: 61px;
    }
  }
}
