.site-nav {
  @media (min-width: @tablet-width) {
    min-width: 440px;
  }

  @media (min-width: @desktop-width) {
    min-width: 478px;
  }
}

.site-nav__toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: @basic_white;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.site-nav--closed .site-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 9px;
    width: 24px;
    height: 2px;
    background-color: @basic_black;
    box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
  }
}

.site-nav--opened {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.site-nav--opened .site-nav__toggle {
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 15px;
    width: 24px;
    height: 2px;
    background-color: @basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-nav--nojs .site-nav__toggle {
  display: none;
}

.site-nav--closed .nav-list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.site-nav--nojs .nav-list,
.site-nav--opened .nav-list {
  display: inline;
  height: 194px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    height: auto;
  }
}
