.social-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 21px;
  min-width: 280px;
}

.social-list__btn {
  background-repeat: no-repeat;
  display: inline;
  width: 100%;
  height: auto;
  fill: @special_grey-2;

  &--fb {
    stroke: @special_grey-2;
  }
  /*
  &--vk {
    background-image: url("../img/svg/icon_vkontakte.svg");
    padding-right: 36px;
  }

  &--inst {
    background-image: url("../img/svg/icon_instagram.svg");
    padding-right: 33px;
  }

  &--fb {
    background-image: url("../img/svg/icon_facebook.svg");
    stroke: @special_grey-2;
  }*/
}

.social__icon {
  @media (min-width: @tablet-width) {
    width: 30px;
  }
}

.footer-copyright__img {
  fill: @special_grey-2;
}

.social-list__btn:hover,
.footer-copyright__img:hover {
  fill: @basic_green;
}

.social-list__btn--fb:hover {
  stroke: @basic_green;
}

.social-list__btn:focus,
.footer-copyright__img:focus {
  opacity: 0.6;
}
