@basic_green: #68B738;
@basic_green-2: #5EAA2F;

@basic_grey: #F2F2F2;
@border_grey: #E6E6E6;
@border_grey-footer: #D9D9D9;
@background-grey: #EAEAEA;

@special_grey: #CDCDCD;
@special_grey-2: #666666;
@special_grey-3: #EBEBEB;

@special_dark-grey: #444444;
@special_dark-grey-2: #222222;

@status_error: #FF8282;

@special_black: #111111;
@basic_black: #000000;
@basic_white: #FFFFFF;

@background-promo: rgba(104, 183, 56, 0.85);

//viewports
@mobile-width-only: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
