.example {
  width: 100%;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(#ffffff 57%, #f2f2f2 57%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(#ffffff 31%, #f2f2f2 31%);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 40px;
    padding-bottom: 70px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 570px;
    justify-content: flex-start;
    padding-top: 55px;
  }
}

.example__header {
  @media (min-width: @tablet-width) {
    padding-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-bottom: 146px;
  }
}

.example__details {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 680px;
    padding-top: 0;
    padding-right: 209px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    padding-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-bottom: 69px;
    width: 431px;
  }
}
