.option__usage {
  background-color: @basic_grey;
}

.option__header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
}

.option__header-small::before {
  background-image: url("../img/cat_back_1.png");
}

.option__header-big::before {
  background-image: url("../img/cat_back_2.png");
}

.option__text {
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.option__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
}
