.promo__back {
  background-image: url("../img/index-background-desktop_2.jpg");
  background-repeat: no-repeat;
  background-color: @background-promo;
}

.promo__text {
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-bottom: 29px;
}
