.add-goods-list__name-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.add-goods-list__label,
.add-goods-list__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey-2;
  text-align: center;
}
