.add-goods__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: black;
  padding-left: 0;

  padding-bottom: 36px;
  border-bottom: 1px solid @special_grey-2;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}


.add-goods__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}
