.add-goods-list {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.add-goods-list__characterictics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 15px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin: 26px 38px 15px 38px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    margin: 0;
    width: 610px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
  }
}

.add-goods-list__name-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  margin: 0;
  padding-right: 147px;
  padding-top: 13px;
  padding-bottom: 13px;

  &--milk {
    padding-right: 200px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-right: 244px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: initial;
  }
}

.add-goods-list__label,
.add-goods-list__value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey-2;
}

.add-goods-list__item {
  padding-bottom: 28px;
  border-bottom: 1px solid @special_grey;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    border: 1px solid @special_grey;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-top: 1px solid @special_grey;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.add-goods-list__value {
  @media (min-width: @desktop-width) {
    text-align: right;
  }
}

.add-goods-list__item:last-of-type {
  @media (min-width: @desktop-width) {
    border-bottom: 1px solid @special_grey;
  }
}
