.catalog-gift {
  background-image: url("../img/catalog/gift-photo-mobile@1x.jpg");
  background-color: @basic_green;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  position: relative;
  margin-top: 39px;
  margin-bottom: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 43px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/gift-photo-mobile@2x.jpg");
    background-size: 560px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/catalog/gift-photo-tablet@1x.jpg");
    margin-bottom: 76px;
    margin-top: 69px;
    flex-direction: row;
    padding: 0 124px 0 78px;
    height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-photo-tablet@2x.jpg");
      background-size: 1416px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/catalog/gift-photo-desktop@1x.jpg");
    margin: 0;
    flex-direction: column;
    padding: 55px 0 42px 0;
    height: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/gift-photo-desktop@2x.jpg");
      background-size: 490px auto;
    }
  }
}

.catalog-gift__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic_white;
  margin: 0;
  width: 161px;
  padding-top: 48px;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.catalog-gift::before {
  content: "";
  box-sizing: border-box;
  width: 78px;
  height: 80px;
  background-image: url("../img/catalog/icon_gift.svg");
  background-repeat: no-repeat;
}
