.goods-list__item-header {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  max-width: 76px;
}

.goods-list__item-header--more-goods {
  color: @special_black;
}

.goods-list__characterictics-label,
.goods-list__characterictics-value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special_dark-grey;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.goods-list__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.goods-list__item a {
  align-self: center;
  padding: 0;
  text-align: center;
}

.goods-list__characterictics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
