.fieldset {
  border: none;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.fieldset__legend {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  z-index: 1;

  &--contacts {
    margin-top: 0;
    margin-bottom: 35px;
    width: 187px;

    @media (min-width: @tablet-width) {
      width: auto;
      margin-top: 69px;
      margin-bottom: 76px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

&--textarea {
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}


.reason {
  @media (min-width: @tablet-width) {
    margin-top: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.contacts {
  margin-top: 26px;

  @media (min-width: @desktop-width) {
    margin-top: 50px;
  }
}
