.fieldset__legend {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.fieldset__legend--contacts {
  margin-top: 26px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }
}

.fieldset {
  border: none;
  position: relative;
  padding: 0;
}

.reason {
  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

/*.fieldset__legend::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: @basic_green;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: -76px;
  }
}
*/
