.fieldset__legend {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.fieldset__legend--contacts {
  padding-top: 26px;
  padding-bottom: 35px;
}

.fieldset {
  border: none;
}

.reason {
  border-top: 1px solid @border_grey-footer;
  border-bottom: 1px solid @border_grey-footer;

  @media (min-width: @tablet-width) {
    width: 628px;
    border: 1px solid @border_grey-footer;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}
