.form {
  border: none;
}

.form__label {
  text-transform: uppercase;
  color: @special_dark-grey;
  padding-bottom: 20px;
}

.form__label--input {
  display: flex;
  align-items: center;
}

.form__input-box {
  box-sizing: border-box;
  color: @special_dark-grey;
  padding-left: 10px;
  text-transform: uppercase;
  height: 46px;
  border: 1px solid @border_grey-2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
  margin-left: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-box:hover,
.form__input-textarea:hover {
  border: 1px solid @special_dark-grey;
}

.form__input-box:focus,
.form__input-textarea:focus {
  border: 2px solid @special_dark-grey;
}

.form__input-box:focus:invalid,
.form__input-textarea:focus:invalid {
  border: 2px solid @status_error;
}

.form__input-textarea {
  box-sizing: border-box;
  text-transform: uppercase;
  color: @special_dark-grey;
  margin-top: 35px;
  margin-bottom: 22px;
  width: 100%;
  border: 1px solid @border_grey-2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__star {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: @basic_black;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-left: 106px;
  }
}

.basic-info,
.contacts--wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.first-two-fieldset--wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts--wrapper {
  @media (min-width: @desktop-width) {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts--wrapper .form__label:last-of-type {
  @media (min-width: @desktop-width) {
    padding-left: 78px;
  }
}

.reason__list,
.additional-goods__list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 19px;
}

.reason__list {
  box-sizing: border-box;
  border-top: 1px solid @border_grey-footer;
  border-bottom: 1px solid @border_grey-footer;

  @media (min-width: @tablet-width) {
    border: 1px solid @border_grey-footer;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.additional-goods__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__input-box[type="email"],
.form__input-box[type="tel"] {
  position: relative;
}

.form__svg {
  position: absolute;
  right: 18px;

  @media (min-width: @tablet-width) {
    right: 35px;
  }

  &-mail {
    @media (min-width: @desktop-width) {
      right: 635px;
    }
  }
}

.form__input-checkbox,
.form__input-radio {
  opacity: 0;
}

.form__label-checkbox,
.form__label-radio {
  position: relative;
  display: inline-block;
  padding-left: 44px;
}

.form__label-checkbox::before,
.form__label-checkbox::after,
.form__label-radio::before,
.form__label-radio::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  transition: 0.2s;

  @media (min-width: @tablet-width) {
    top: 2px;
  }
}

.form__label-checkbox::before {
  width: 26px;
  height: 26px;
  border: 1px solid @special_grey;
  left: -2px;
}

.form__label-checkbox::after {
  width: 15px;
  height: 11px;
  border-left: 2px solid @basic_green;
  border-bottom: 2px solid @basic_green;
  transform: rotate(-45deg);
  top: 0;
  left: 3px;

  @media (min-width: @tablet-width) {
    top: 5px;
  }
}

.form__label-radio::before {
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  box-sizing: border-box;
  border-radius: 50%;
  left: -2px;
}

.form__label-radio::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: @basic_green;
  margin: 8px;
  left: 0;
}

.form__input-checkbox + .form__label-checkbox::after,
.form__input-radio + .form__label-radio::after {
  content: none;
  cursor: pointer;
}

.form__input-checkbox:checked + .form__label-checkbox::after,
.form__input-radio:checked + .form__label-radio::after {
  content: "";
}

.form__input-checkbox:focus + .form__label-checkbox::before,
.form__input-radio:focus + .form__label-radio::before {
  border: 1px solid @special_dark-grey;
}

.form__label-radio[for="form__reason-advice"] {
  padding-bottom: 0;
}

.form__input-radio:disabled + .form__label-radio,
.form__input-checkbox:disabled + .form__label-checkbox {
  opacity: 0.3;
}

.form__submit--wrapper {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    display: flex;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__submit {
  padding: 0;
  margin: 0;
  width: 280px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  background-color: @basic_green;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 282px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
  }
}
