.form {
  border: none;
}

.form__label {
  text-transform: uppercase;
  color: @special_dark-grey;
  padding: 0;
  padding-bottom: 14px;

  &--input {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  @media (min-width: @tablet-width) {
    &--input {
      padding-bottom: 20px;
      column-gap: 15px;
    }
  }
}

.form__input-box {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  color: @special_dark-grey;
  text-transform: uppercase;
  height: 45px;
  border: 1px solid @border_grey-2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 10px;
  outline: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 18px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 20px;
  }
}

.form__input-box:hover,
.form__input-textarea:hover {
  border: 1px solid @special_dark-grey;
}

.form__input-box:focus,
.form__input-textarea:focus {
  border: 2px solid @special_dark-grey;
}

.form__input-box:invalid:not(:focus):not(:placeholder-shown),
.form__input-textarea:invalid:not(:focus):not(:placeholder-shown) {
  border: 2px solid @status_error;
}

.form__input-textarea {
  box-sizing: border-box;
  text-transform: uppercase;
  color: @special_dark-grey;
  margin-top: 38px;
  margin-bottom: 22px;
  padding-left: 15px;
  padding-top: 8px;
  width: 100%;
  border: 1px solid @border_grey-2;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  height: 150px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    margin-top: 76px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 76px;
    margin-bottom: 58px;
  }
}

.form__star {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: @basic_black;
  padding: 0;
  margin: 0;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 0;
    text-align: left;
  }
}

.basic-info {
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.basic-info,
.contacts--wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.first-two-fieldset--wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.basic-info:last-child {
  padding-bottom: 20px;
}

.contacts--wrapper {
  @media (min-width: @desktop-width) {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__option {
  padding-top: 9px;

  &--first {
    padding-top: 15px;
  }
}

.reason__radio {
  padding-bottom: 5px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 16px;
  }
}

.reason__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 19px;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid @border_grey-footer;
  border-bottom: 1px solid @border_grey-footer;

  @media (min-width: @tablet-width) {
    border: 1px solid @border_grey-footer;
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0;
  }
}

.additional-goods__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
    column-gap: 60px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 81px;
    padding-top: 48px;
  }
}

.form__checkbox {
  padding-top: 8px;
}

.form__label-checkbox:not(.form__label-checkbox--first) {
  padding-top: 3px;
}

.form__input-box[type="email"],
.form__input-box[type="tel"] {
  position: relative;
  padding-right: 37px;

  @media (min-width: @tablet-width) {
    padding-right: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
  }
}

.form__svg {
  position: absolute;
  right: 16px;
  fill: @basic_black;
  stroke: @basic_black;

  &--phone {
    right: 13px;
  }

  @media (min-width: @tablet-width) {
    right: 15px;
  }

  @media (min-width: @desktop-width) {
    &--mail {
      right: 666px;
    }
  }
}

.form__input-box[type="tel"]:focus + .form__svg,
.form__input-box[type="email"]:focus + .form__svg {
  fill: @basic_green;
  stroke: @basic_green;
}

.form__input-box[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + .form__svg,
.form__input-box[type="email"]:invalid:not(:focus):not(:placeholder-shown) + .form__svg {
  fill: @status_error;
  stroke: @status_error;
}

.form__input-checkbox,
.form__input-radio {
  opacity: 0;
  appearance: none;
}

.form__label-checkbox,
.form__label-radio {
  text-transform: uppercase;
  color: @special_dark-grey;
  padding: 0;
  position: relative;
  display: inline-block;
  padding-left: 45px;
  padding-bottom: 12px;
}

.form__label-checkbox {
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 60px;
  }
}

.form__label-radio {
  @media (min-width: @tablet-width) {
    padding-left: 70px;
  }
}

.form__label-checkbox::before,
.form__label-checkbox::after,
.form__label-radio::before,
.form__label-radio::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  transition: 0.2s;
}

.form__label-checkbox::before {
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__label-checkbox--sugar::before {
  top: -5px;

  @media (min-width: @tablet-width) {
    top: 0;
  }
}

.form__label-checkbox::after {
  width: 15px;
  height: 11px;
  border-left: 2px solid @basic_green;
  border-bottom: 2px solid @basic_green;
  transform: rotate(-45deg);
  top: 5px;
  left: 7px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 13px;
    top: 10px;
    left: 11px;
  }
}

.form__label-radio::before {
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  box-sizing: border-box;
  border-radius: 50%;
  left: 0;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: 10px;
  }
}

.form__label-radio::after {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: @basic_green;
  left: 8px;
  top: 3px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 6px;
    left: 20px;
  }
}

.form__input-checkbox + .form__label-checkbox::after,
.form__input-radio + .form__label-radio::after {
  content: none;
  cursor: pointer;
}

.form__input-checkbox:checked + .form__label-checkbox::after,
.form__input-radio:checked + .form__label-radio::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}

.form__input-checkbox:focus + .form__label-checkbox::before,
.form__input-radio:focus + .form__label-radio::before {
  border: 1px solid @special_dark-grey;
  box-sizing: border-box;
}

.form__label-radio[for="form__reason-advice"] {
  padding-bottom: 0;
}

.form__input-radio:disabled + .form__label-radio,
.form__input-checkbox:disabled + .form__label-checkbox {
  opacity: 0.3;
}

.form__submit--wrapper {
  margin-bottom: 32px;
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    margin-top: 55px;
    column-gap: 81px;
  }
}

.form__submit {
  padding: 0;
  margin: 0;
  width: 280px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  background-color: @basic_green;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 282px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
  }
}
